html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  display: flex;
  background: red;
  align-items: center;
}

.menu-links ul {
  display: flex;
  align-items: center;
}

.menu-links li {
  list-style: none;
  align-content: center;
} 

.menu-links li a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  color: #333;
}

.menu-links .active {
  color: rgb(73, 240, 73);
  border-bottom: 2px solid rgb(73, 240, 73);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 0;
  right: 0;
  margin: auto;
  align-content: center;
}

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 22px;

  position: absolute;
  width: 204px;
  height: 40px;
  right: 101px;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  margin-right: 100%;
}

.product-card {
  flex-grow: 1;
  flex-basis: 30%;
  flex-direction: column;
  align-self: center;
  display: flex;
}

.product-image img {
  width: 100%;
  width: 300px;
  height: 300px;
}

.product-info {
  margin-top: auto;
}

.product-info h5 h6 {
  flex-direction: column;
}