.navbar, nav {
  display: flex;
  align-content: center;
  padding-top: 1rem;
}

.menu-links, a {
  align-items: flex-start;
  margin: 0 2rem 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.brand-logo {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 699px;
}

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 22px;

  position: absolute;
  width: 204px;
  height: 40px;
  right: 101px;
}