*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

.navbar {
  display: flex;
  background: red;
  padding: 2rem 0;
  justify-content: space-between;
}

.menu-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu-links ul li {
  list-style-type: none;
} 

.menu-links li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #1D1F22;
  padding: 1rem 1rem 1.563rem 1rem;
}

.menu-links li a.active {
  color: rgb(73, 240, 73);
  font-weight: 600;
  border-bottom: 3px solid #5ECE7B;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 41px;
  height: 41px;
  margin: auto;
}

.checkout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 22px;
  position: absolute;
  width: 204px;
  height: 40px;
  right: 101px;
}